@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root{
    --bg:#ffffff;
    --ink: #000000;
    --blue:#0a66c2;
    --dark-blue:#094ca3;
    --light-blue:#eef2f7;
    --greytext:rgba( 0,0,0,0.6);
    --grey: #f3f2f0;
    --light-grey: #eae6df;
    --bg2:#d6c7b3;
    --bg3:#f1ece5;
    --bg4: #f3f2f0;
    --red: #b24020;
    --ptexts: rgba(0,0,0,0.9)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
   
}

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--ink);
    text-decoration: none;
    overflow-x: hidden;

}
nav {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    padding-top: 12px;
    padding-bottom: 16px;
    position: relative;
    max-width: 1128px;
    height: 80px;
    margin: auto;
    
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 102px;
    height: 52px;
    cursor: pointer;
    color: var(--blue);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-right: 149px;
   
}

.logo img{
    height: 26px;
    width: 26px;
}


.nav-links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 1;
    cursor: pointer;
    height: 64px;
    margin-left: 149px;
    
}
.nav-links ul{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    flex-shrink: 1;
    list-style: none;

}
.nav-links ul li{
    width:80px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 1;
}
.nav-links ul li a{
    text-decoration: none;
    width: 30px; 
    color: rgba(0,0,0,0.9);
    font-size: 12px ;
    font-weight: 100;
    
    
}
.nav-links ul li a:hover{
    color: var(--ink);
}
.nav-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
}

.nav-links a img {
    height: 22px;
    width: 28px;
    padding-bottom: 4px; 
}

#getapp{
    margin-left: 8px;
    margin-right: 8px;
    border-right: 1px solid rgba(0,0,0,0.08);
    border-left: 1px solid rgba(0,0,0,0.08);
  

}
#getapp a{
    width: 112.77px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-buttons{
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    color: rgba(0,0,0,0.9);
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 218.51px;
    height: 64px;
    padding: 12px 24px;
   
}
#join{
    height: 48px;
    width: 112.77px;
    font-size: 16px;
    font-weight: 600;
    color: var(--bg);
    cursor: pointer;
    line-height: 48px;
    border-radius: 42px;
    padding: auto;
    border: 1px solid var(--blue);
    background-color: var(--blue);
}
#join:hover{
    background-color: var(--dark-blue);
}
#signin{
    width: 97.76px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    color: var(--blue);
    cursor: pointer;
    line-height: 48px;
    border-radius: 52px;
    border: 1px solid var(--blue);
    padding: auto;
}

#signin:hover{
    background-color: var(--light-blue);
    color: var(--dark-blue);
} 


.section-1{
    width: 1128px;
    position: relative;
    padding-top: 48px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 1;
    min-height: 544px;
    align-self: flex-start;
    
}
.container{
    width: 620px;
    height: 444px;
    padding-right: 48px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.container h1{
    width: 600px;
    font-size: 48px;
    color: #526a6e;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: 16px;
    letter-spacing: 1px;
} 
.container button{
    border-radius: 24px;
    box-sizing: border-box;
    border: 1px solid var(--ink);
    padding-right: 20px;
    font-size: 16px;
    font-weight: 550;
    color: var(--ink);
    height: 44px;
    width: 400px;
    margin-bottom: 16px;
    text-align: center;
    cursor: pointer;
}
.container button:hover{
    background-color: var(--grey);
}
.container img{
    width: 16px;
    height: 16px;
    background-color: var(--grey);
    text-align: end;
}
.google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-shrink: 1;
    
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}
.text p{
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 16px;
    text-align: center;
    color: var(--greytext);
    font-weight: 400;
    width: 400px;
    
}
.container span{
    color: var(--blue);
    font-weight: 550;
    cursor: pointer;
}
.container h4{
    font-weight: 200;
}
.main-image{  
    display: block;
    margin-top: 16px;
    overflow-clip-margin: content-box;
    overflow-y: clip;
    overflow-x: clip;
    height: 560px;
    width: 700px;
}

.section-2{
    width: 1128px;
    height: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-shrink: 1;
}
.leftside{
    width: 429px;
    height: 142px;
    margin-right: 72px;
    display: block;
    font-size: 16px;
    font-weight: 400;
   
}
.leftside h3{
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    display: block;
    color: var(--ptexts);
}
.leftside p{
    margin-top: 12px;
    line-height: 30px;
    letter-spacing: 0.1px;
    font-weight: 250;
    color: var(--ptexts);
}
.article-list{
    width: 626px;
    height: 180px;
}
.article-list ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    list-style-type: none;
    cursor: pointer;
    flex-shrink: 1;
 
}

.article-list button{
    height:48px;
    box-sizing: border-box;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--ptexts);
    line-height: 24px;
    border: 1px solid var(--ink);
    margin-right: 8px;
    margin-bottom: 12px;
    cursor: pointer;
  
}
.article-list button:hover{
    background-color: var(--grey);
}
#show-all-button{
    color: var(--blue);
    border-style: var(--blue);
    border: 1px solid var(--blue)
}
.section-3{
    width: 1128px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.headerline{
    width: 429px;
    height: 80px;
    margin-right: 72px;
    display: block;
    color: var(--ptexts);
   
}
.headerline h3{
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}
.job-list{
    width: 626px;
    height: 292px;
}
.job-list ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    list-style-type: none;
    cursor: pointer;
    flex-shrink: 1;
    
}
.job-list button{
    height:48px;
    box-sizing: border-box;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--ptexts);
    line-height: 24px;
    border: 1px solid var(--ink);
    margin-right: 8px;
    margin-bottom: 12px;
    cursor: pointer;
}
.job-list button:hover{
    background-color: var(--grey);
}

#show-more-button{
    height: 32px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.section-4{
    width: 100%;
    height: 260px;
    position: sticky;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg3);
    flex-shrink: 1;

}
.s4contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    background-color: var(--bg3);
    width: 1128px;
    height: 260px;
    padding-top: 64px;
    padding-bottom: 64px;
}
.section-4 p{
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 32px;
    color: rgb(178, 64, 32);
    background-color: var(--bg3);
}
.section-4 button{
    box-shadow: rgb(10, 102, 194);
    box-sizing: border-box;
    color: rgb(10, 102, 194);
    border: 1px solid var(--blue);
    border-radius: 32px;
    background-color: var(--bg3);
    cursor: pointer;
    display: flex;
    flex-shrink: 1;
    float: left;
    font-size: 16px;
    font-weight: 600;
    height: 47.9953px;
    line-height: 24px;
    padding: 12px 24px;
    text-align: center;
}
.section-5{
    width: 1128px;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    margin: auto;
    padding-bottom: 64px;
}
.swtools-list{
    width: 626px;

}
.swtools-list ul{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-shrink: 1;
    margin: auto;
    flex-wrap: wrap;
    list-style-type: none;
 
}

.swtools-list button{
    cursor: pointer;
    height:48px;
    box-sizing: border-box;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--ptexts);
    line-height: 24px;
    border: 1px solid var(--ink);
    margin-right: 8px;
    margin-bottom: 12px;
  
}
.swtools-list button:hover{
    background-color: var(--grey);
}
#show-all-button2{
    color: var(--blue);
    border-style: var(--blue);
    border: 1px solid var(--blue)
}
#show-all-button2:hover{
    background-color: var(--light-blue);
}
.section-6{
    width: 1128px;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 64px;
}
.game-list{
    width: 626px;
    height: 80px;
}
.game-list ul{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    flex-shrink: 1;
    list-style-type: none;
 
}

.game-list button{
    height:48px;
    box-sizing: border-box;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--ptexts);
    line-height: 24px;
    border: 1px solid var(--ink);
    margin-right: 8px;
    margin-bottom: 12px;
}
.game-list button:hover{
    background-color: var(--grey);
}
.section-7{
    width: 100%;
    height: 582px;
    background-color: var(--light-grey);
   
}
.s7contents{
    width: 1128px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 12px;
    background-color: var(--light-grey);

}
.leftsides7{
    width: 556px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    margin-right: 64px;
   
}
.leftsides7 h3{
    color: rgb(178, 64, 32);
    background-color: var(--light-grey);
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    display: block;
}
.leftsides7 p{
    font-weight: 250;
    font-size: 16px;
    background-color: var(--light-grey);
    margin-top: 12px;
    line-height: 30px;
    letter-spacing: 0.1px;
    font-weight: 250;
    color: var(--ptexts);
}
.section-7 img{
    background-color: var(--light-grey);
}
.section-7 span{
    margin-top: 200px;
    margin-right: 156px;
    height: 32px;
    height: 32px;
}
.section-8{
    width: 1128px;
    height: 816.79px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;

}
.s8container{
    padding-top: 64px;
    padding-bottom: 64px;
}
.s8contents{
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 1;
}
.lefthandside{
    height: 444px;
    margin-right: 16px;   
}
.content1{
    height: 444px;
    width: 556px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.content1 img{
    margin-bottom: 16px;
    margin-right: 72px;
    flex-shrink: 0;
    opacity: 1;
    outline-color: rgba(0,0,0,0.9)
}
.content1 h3{
    width: 448px;
    height: 79.98px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 32px;
    display: block;
}
.content1 button{
    
    height: 24px;
    height:48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 12px 24px;
    border: 1px solid var(--ink);
    margin-bottom: 12px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.content1 button:hover{
    background-color: #eae6df;
}

.righthandside{
    height: 444px;   
}
.content2{
    height: 444px;
    width: 556px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 1;

}
.content2 img{
    margin-bottom: 16px;
    margin-right: 72px;
    flex-shrink: 0;
    opacity: 1;
    outline-color: rgba(0,0,0,0.9)

}
.content2 h3{
    width: 448px;
    height: 79.98px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 32px;
    display: block;
}
.content2 button{
    height: 48px;
    margin-right: 2px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 0.6px solid var(--light-grey);
    margin-bottom: 12px;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: start;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.content2 button:hover{
    background-color: #eae6df;
}
.section-9{

    height: 840px;
    width: 100%;
    background-color: var(--bg);
   
}
.bigcontainer{
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 12px;
    background-color:var(--bg);
}

.s9container1{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 1;
    height: 720px;
    background-color:var(--bg4);
}
.s9content{
    padding-right: -64px;

}
.s9content h2{
    color: rgb(178, 64, 32);
    font-weight: 300;
    padding-bottom: 8px;
    background-color: var(--bg4);
}
.s9content p{
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 24px;
    background-color: var(--bg4);
}
.s9content ul{
    list-style: none;
    background-color: var(--bg4);
    
}
.s9content ul li{
    background-color: var(--bg4);
}
.s9content ul li button{
    width: 300px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 0.6px solid #eae6df;
    margin-bottom: 16px;
    text-align: left;
    background-color: #eae6df;

}
.s9content ul li button:hover{
    background-color: #d6c7be;
}
.s9container2{
    flex: 1;
    margin-left: 64px;
    background-color: var(--bg4);
}
.section-10{
    width: 100%;
    height: 834px;
    background-image: url(4ezbw852t2wrgf27zl1o1qtu7.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 1440px 843px; */
}
.s10text{
    width: 1128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.s10text h1{

    color: var(--ink);
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.2px;
}
.s10text button{
    box-sizing: border-box;
    border-radius: 24px;
    border: 1px solid var(--blue);
    color: var(--bg);
    background-color: var(--blue);
    height: 32px;
    padding: 8px 16px;
    font-weight: 500;
    width: 112px;
}
.s10text button:hover{
    background-color: var(--dark-blue);
}
.section-11{
    width: 100%;
    height: 412px;
    background-color: var(--bg4) ;

}
.s11container{
    height: 412px;
    width: 1128px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f3f2f0;
}
.sector1{
    background-color: #f3f2f0;
    color: var(--blue);
    font-size: 18px;
    font-weight: 600;
    padding: 24px 0; 
}
.sector1 span{
    background-color: #f3f2f0;
}
.sector1 img{
    background-color: #f3f2f0;
    padding-top: 6px;
    height: 24px;
   
}
.sector2{
    padding-top: 24px;
    background-color: #f3f2f0;
}
.sector2 ul{
    background-color: #f3f2f0;
}
.sector2 ul li{
    background-color: #f3f2f0;
    list-style: none;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 300;
    padding-right: 24px;
    text-align: start;
    cursor: pointer;
    color: #526a6e;
}
.sector2 ul li:hover {
    cursor: pointer;
    color: #094ca3;
    text-decoration: underline;
}
#topic-list{
    font-size: 14px;
    font-weight: 600;
    color: var(--ink);
    padding-bottom: 12px;
    background-color: #f3f2f0;
}


footer{
    height: 50px;
    width: 1128px;
    margin: auto;
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-shrink: 1;
    line-height: 24px;

}
footer ul:hover{
    color: var(--dark-blue);

}
footer ul li{
    font-size: 12px;
    color: var(--greytext);
    font-weight: 500;
    padding-right: 20px;
    padding-top: 10px;
    
}
footer ul li:hover {
    cursor: pointer;
    color: #094ca3;
    text-decoration: underline;
}



/* Base styles - apply to all screens */

@media (max-width: 1026px) {
    
    /*laptop design*/


    body{
        overflow-x: hidden;
    }
    nav{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .logo{
       display: flex ;
       align-items: center;
       justify-content: center;
       flex-grow: 1;
       column-gap: 2px;
       width: 80px;
       font-size: 18px;
       font-weight: 600;
    }
    .logo img{
        height: 20px;
        width: 18px;
    } 
    
    .nav-links{
        max-width: 1024px;
        justify-content: space-between;
        margin-left: 0;
        align-items: flex-start;
    }
    .nav-buttons{
        line-height: 24px;
    }
    #join{
        height: 36px;
        line-height: 32px;
    }
    #signin{
        height: 36px;
        line-height: 32px;
    }
    .section-1{
        padding-top: 10px;
    }
   
    .main-image{
        height: 500px;
    }
    .section-2 .section-3 .section-5 .section-6 .s7contents 
    .section-8 .bigcontainer .s10text .s11container{
        width: 1024px;
    }
    .section-2{
        justify-content: flex-start;
    }
    .leftside{
        width: 320px;
    }
    .section-3{
        justify-content: flex-start;
    }
    .headerline{
        width: 320px;
    } .section-5{
        justify-content: flex-start;
    }
    .section-6{
        justify-content: flex-start;
    }

    .leftsides7{
        width: 500px;  
    }
    .lefthandside{
        margin-right: 0;
    }
    .bigcontainer{
        padding-top: 30px;
        padding-bottom: 30px;
        justify-content: space-between;
    }
    
    .s9container1{
        align-items: flex-start;
        flex: 0.5;
    }
    .s9content{
        padding-right: 0;
    }
    .s9container2{
        margin-left: 32px;
    }
    .s10text{
       align-items: flex-start; 
       justify-content: flex-start;  
    }
    .s11container{
        width: 1024px;
        justify-content: space-between;

    }
    
}
@media (max-width: 770px){

     /*tablet design*/

    body{
        overflow-x: hidden;
    }
    nav{
        flex-direction: column;
        height: 112px;

    }
    .logo{
        width: 112px;
        font-size: 32px;
        margin-right: 64px;
        margin-bottom: 10px;
    }
    .logo img{
        height: 32px;
        width: 32px;
    }
    .nav-links{
        flex-direction: column;
    }
    .nav-buttons{
        height: 24px;
        line-height:22px ;
    }
    .section-1 {
        width: 770px;
        height: 480px;
        justify-content: center;
        padding-top: 24px;
        align-self: center;
        align-items: center;
        margin: 0;
        flex-wrap: wrap;
    
    }
    .container{
        align-items: center;
        padding-right: 0;
    }
    .container h1{
        text-align: center;
       
    }
    .main-image{
        height: 40px;
        display: none;
       
    }
    .section-2 {
        width: 770px;
        flex-direction: column;
        row-gap: 20px;
        height: 420px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .leftside{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        align-items: center;
        justify-content: center;
        width: 750px;
    }
    .article-list ul{
        justify-content: center;
    }
    .section-3 {
        width: 770px;
        flex-direction: column;
        row-gap: 20px;
        height: 420px;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .job-list ul{
        justify-content: center;
    }
    .section-5{
        width: 770px;
        flex-direction: column;
        row-gap: 20px;
        height: 420px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .swtools-list ul{
        justify-content: center;
    }
    .section-6{
        width: 770px;
        flex-direction: column;
        row-gap: 20px;
        height: 200px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .game-list ul{
        justify-content: center;
    }
    .section-7{
        width: 770px;
        height: 300px;
    }
    .s7contents{
        width: 770px;
        height: 300px;
        justify-content: center;
        flex-direction: column;
        align-self: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        
    }
    .section-7 img{
        height: 40px;
        display: none;
           
    }
    .section-8{
        height: 600px;
        width: 770px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .s8container{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .s8contents{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .lefthandside{
        height: 444px;
        margin-right: 0;  
    }
    .content1{
        width: 400px
    }
    .content1 h3{
        width: 320px;
    }
    .content2 h3{
        width: 320px;
    }
    .section-9{
        width: 770px;
        height: 400px;
        background-color:var(--bg4)
    }
    .bigcontainer{
        width: 770px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 12px;
        height: 400px;
        background-color:var(--bg4)
    }
    .s9container1{
        height: 400px;
    }
    .s9content{
        padding-right: 0px;
    
    }
    .s9content h2{
        text-align: center;
    }

    .s9container2{
        display: none;
    }
    .section-10{
        width: 770px;
        height: 500px;
        background-image: cover;
        background-image: contain;
        background-size:  780px 490px ;

    }
    .s10text{
        width: 770px;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .section-11{
        width: 770px;
    }
    .s11container{
        width: 770px;
    }
    footer{
        width: 770px;
    }
    footer ul{
        justify-content: center;
    }


    

}
@media (max-width: 427px){ 

     /* LARGE mobile design*/
     body{
        overflow-x: hidden;
    }
    nav{
        flex-direction: row;
        width: 426px;
        align-items: center;
        justify-content: center;
        height: 84px;
          
    }
    .logo{
        width: 96px;
        height: 48px;
        font-size: 24px;
        margin-right: 0px;
        margin-top: 10px;
    }
    .logo img{
        height: 24px;
        width: 24px;
    }
    .nav-links{
        flex-direction: row;
        height: 48px;
        justify-content: center;
        align-items: flex-start;
    
    }
    .nav-links ul{
        display: none;
    }
    .nav-buttons{
        height: 48px;
    }
    .section-1{
        width: 426px;
        height: 700px;
        align-items: center;
        justify-content: center;
        margin: auto;
        /* flex-direction: column; */
       
    }
    .container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 426px;
    }
    .text p{
        width: 350px;
    }
    .container h1{
        width: 302px;
        font-size: 32px;
        text-align: center;
    }
    .container button{
        width: 300px;
    }
    .main-image{
        overflow-y: visible;
        overflow-x: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        height: 300px;
    }
    .main-image img{
        height: 300px;
        width: 300px;
    }
    .section-2{
        width: 426px;
        height:500px;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: flex-start;
        background-color: var(--grey);
    }
    .leftside{
        width: 426px;
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: var(--grey);
    }
    .leftside h3{
        background-color: var(--grey);
        font-size: 28px;
        text-align: center;
    }
    .leftside p{
        background-color: var(--grey);
    }
    .article-list{
        width: 426px;
        height: 300px;
        background-color: var(--grey);
    }
    .article-list ul{
        justify-content: left;
        background-color: var(--grey);
    }
    .article-list ul li{
        background-color: var(--grey);
    }
    .article-list button{
        background-color: var(--grey);
    }
    .section-3{
        width: 426px;
        height: 500px;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: flex-start;
    }
    .headerline{
        width: 300px;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        margin-left: -112px;
        margin-right: 0px;
    }
    .job-list{
        width: 426px;
        height: 300px;
    }
    .job-list ul{
        justify-content: left;
    }
    .section-4{
        width: 426px;
        position: relative;
        height: 260px;
        margin: 24px 0;
    }
    .s4contents{
        width: 426px;
        height: 260px;
        padding-top: 24px;
        padding-bottom: 24px;
       
    }
    .section-4 p{
        font-size: 28px;
        font-weight: 400;
        text-align: center;
    }
    .section-5{
        height: 600px;
        width: 426px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .section-5 .leftside{
        background-color: var(--bg);
    }
    .section-5 .leftside h3{
        background-color: var(--bg);
    }
    .section-5 .leftside p{
        background-color: var(--bg);
    }

    .swtools-list{
        width: 426px;
        height: 480px;
    }
    .swtools-list ul{
        justify-content: left;
    }
    .section-6{
        height: 300px;
        width: 426px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .section-6 .leftside{
        height: 112px;
        background-color: var(--bg);
    }
    .section-6 .leftside h3{
        background-color: var(--bg);
    }
    .section-6 .leftside p{
        background-color: var(--bg);
    }
    .game-list{
        width: 426px;
        height: 80px;
    }
    .game-list ul{
        justify-content: left;
    }
    .section-7{
        height: 360px;
        width: 426px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .s7contents{
        height: 300px;
        width: 426px;
        padding-top: 14px;
        padding-bottom: 14px;
        justify-content: center;
        margin-top: 0;
    }
    .leftsides7{
        width: 300px;
        margin-right: 0;
    }
    .section-8{
        width: 426px;
        height: 560px;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
        justify-content: center;
    }
    .s8container{
        height: 500px;
        padding-top: 4px;
        padding-bottom: 4px;
        justify-content: center;
    }
    .s8contents{
        height: 500px;
        padding-top: 4px;
        padding-bottom: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .lefthandside{
        height: 244px;
        margin-right: 0px;   
    }
    .content1{
        height: 244px;
        width: 266px;
        margin-bottom: 10px;
    }
    .content1 img{
        margin-bottom: 6px;
        margin-right: 0px;
        height: 144px;
        width: 244px;
        margin-left: -60px;
    }
    .content1 h3{
        width: 220px;
        height: 48px;
        font-size: 22px;
        line-height: 28px;
        text-align: left;
        margin-bottom: 8px;
    }
    .content1 button{
        font-size: 12px;
        height: 24px;
        margin-right: 0px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;

    }
    .righthandside{
        height: 244px;
    }
    .content2{
        height: 244px;
        width: 266px;
    }
    .content2 img{
        margin-bottom: 6px;
        margin-right: 0px;
        height: 144px;
        width: 144px;
    }
    .content2 h3{
        width: 220px;
        height: 48px;
        font-size: 22px;
        line-height: 28px;
        text-align: left;
        margin-bottom: 8px;
    }
    .content2 button{
        font-size: 12px;
        height: 24px;
        width: 198px;
        font-size: 12px;
        margin-right: 0px;
        align-items: flex-start;
        margin-bottom: 0px;
        padding: 4px 4px;

    }
    #more-options{
        height: 12px;
        width: 12px;
    }
    .section-9{
        width: 426px;
    }
    .bigcontainer{
        width: 426px;
    }
    .s9container1{
        width: 426px;
    }
    .s9content{
        width: 426px;
        justify-content: center;
        background-color: var(--grey);
    }
    .s9content p{
        text-align: center;
    }
    .s9content ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s9container2{
        display: none;
    }
    .section-10{
        width: 426px;
        height: 200px;
        padding: 20px 0;
        margin: 10px 0;
        background-color: transparent;
        background: none;
    }
    .s10text{
        width: 426px;
        row-gap: 20px;
        text-align: left;
        align-items: flex-start;
       
    }
    .s10text h1{
        font-size: 28px;
        width: 380px;
        line-height: 32px;
    
    }
    .section-11{
        width: 426px;
        height: 780px;
        background-color: var(--grey) ;
        padding: 20px 0;
    }
    .s11container{
        width: 426px;
        height: 780px;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 10px;
    }
    .sector1{
        padding: 8px 0;
        
    }
    .sector2{
        padding-top: 12px;
    }
    .sector2 ul li{
        padding-bottom: 2px;
        padding-right: 12px;
        letter-spacing: 0.5px;
        line-height: 14px;
    }
    #topic-list{
        font-size: 14px;
        font-weight: 500;
    }
    footer{
        width: 426px;
        height: 80px;
    }
    footer ul{
        flex-direction: column;
        line-height: 16px;
    }
    footer ul li{
        padding-right: 0px;
        padding-top: 4px;
    }
    




}