@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root{
    --bg:#ffffff;
    --ink: #000000;
    --blue:#0a66c2;
    --dark-blue:#094ca3;
    --light-blue:#bbd8ff;
    --greytext:#979797;
    --grey: #f3f2f0;
    --light-grey: #eae6df;
    --bg2:#d6c7b3;
    --red: #b24020;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: o;
    background-color: var(--bg);
   
}

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--ink);
    text-decoration: none;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 16px;
    flex-wrap: nowrap;
    position: relative;
    margin: auto;
    max-width: 1128px;
    /* background-color: aqua; */
    height: 64px;
}
.logo{
    cursor: pointer;
    color: var(--blue);
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    margin-left: -64px;
}

.logo img{
    height: 28px;
    width: 28px;
    padding-top: 2px;
}
/* .logo:hover{
    color: var(--dark-blue);
} */

.nav-links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 12px;
    cursor: pointer;
    margin-right: -96px;
}
.nav-links li{
    display: inline-block;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 16px;
    margin-right: 8px;
}
.nav-links li a {
    text-decoration: none;
    width: 30px;
    text-align: center;  
    color: var(--greytext);
    font-size: 12px ;
    font-weight: lighter;
    padding-right: 24px;
    letter-spacing: 0.7px;
}
.nav-links li a:hover{
    color: var(--ink);
}

.nav-links li a img {
    display: flex;
    flex-wrap: wrap;
    height: 24px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.getapp{
    height: 64px;
    border-right: 0.7px var(--light-grey) solid;
    border-left: 0.7px var(--light-grey) solid;
    padding-left: 24px;
}

.nav-links button{
    border: 1px solid var(--blue);
    border-radius: 56px;
    height: 42px;
    font-size: 20px;
    color: var(--blue);
    padding: 0 20px;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 4px;
}

.signin button{
    margin-left: 24px;

}
.signin button:hover{
    background-color: var(--light-blue);
}
.join{
    margin-left: -30px;

}
.join button{
    color: var(--bg);
    background-color: var(--blue);
}
.join button:hover{
    background-color: var(--dark-blue);
}

.section-1{
    max-width: 1440px;
    position: relative;
    padding-top: 48px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 544px;
    margin-left: 96px;
}
.container{
    margin-top: 24px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;
}

h1{
    width: 600px;
    font-size: 48px;
    color: #526a6e;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: 16px;
    letter-spacing: 1px;
} 
.container button{
    border-radius: 24px;
    box-sizing: border-box;
    border: 1px solid var(--ink);
    padding-right: 20px;
    font-size: 16px;
    font-weight: 550;
    color: var(--ink);
    height: 44px;
    width: 400px;
    margin-bottom: 16px;
    margin-left: -196px;
    display: block;
    text-align: center;
}
.container button:hover{
    background-color: var(--light-grey);
}
.container img{
    width: 16px;
    height: 16px;
}
.google span{
    padding-right: 10px;

}
.container p{
    margin-left: -118px;
    font-size: 14px;
    color: var(--greytext);
    font-weight: lighter;
    margin-top: 24px;
    margin-bottom: 48px;
}
.container span{
    color: var(--blue);
    font-weight: 550;
    cursor: pointer;
}
.container h4{
    margin-left: -172px;
    font-weight: 200;
}

.main-image img{
    min-width: 600px;
    height: 620px;
} 



