@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root{
    --bg:#ffffff;
    --ink: #000000;
    --blue:#0a66c2;
    --dark-blue:#094ca3;
    --light-blue:#bbd8ff;
    --greytext:#979797;
    --grey: #f3f2f0;
    --light-grey: #eae6df;
    --bg2:#d6c7b3;
    --red: #b24020;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: o;
    background-color: var(--bg);
   
}

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--ink);
    text-decoration: none;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 16px;
    flex-wrap: nowrap;
    position: relative;
    margin: auto;
    max-width: 1128px;
    /* background-color: aqua; */
    height: 64px;
}
.logo{
    cursor: pointer;
    color: var(--blue);
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    /* margin-left: -64px; */
}

.logo img{
    height: 28px;
    width: 28px;
    padding-top: 2px;
}
/* .logo:hover{
    color: var(--dark-blue);
} */

.nav-links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 12px;
    cursor: pointer;
    margin-right: -96px;
}
.nav-links li{
    display: inline-block;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 16px;
    margin-right: 8px;
}
.nav-links li a {
    text-decoration: none;
    width: 30px;
    text-align: center;  
    color: var(--greytext);
    font-size: 12px ;
    font-weight: lighter;
    padding-right: 24px;
    letter-spacing: 0.7px;
}
.nav-links li a:hover{
    color: var(--ink);
}

.nav-links li a img {
    display: flex;
    flex-wrap: wrap;
    height: 24px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.getapp{
    height: 64px;
    border-right: 0.7px var(--light-grey) solid;
    border-left: 0.7px var(--light-grey) solid;
    padding-left: 24px;
}

.nav-links button{
    border: 1px solid var(--blue);
    border-radius: 56px;
    height: 42px;
    font-size: 20px;
    color: var(--blue);
    padding: 0 20px;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 4px;
}

.signin button{
    margin-left: 24px;

}
.signin button:hover{
    background-color: var(--light-blue);
}
.join{
    margin-left: -30px;

}
.join button{
    color: var(--bg);
    background-color: var(--blue);
}
.join button:hover{
    background-color: var(--dark-blue);
}

.section-1{
    max-width: 1440px;
    position: relative;
    padding-top: 48px;
    width: 100%;
    display: flex;
    margin: auto;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    min-height: 544px;
    margin-left: 156px;
}
.container{
    margin-top: 24px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;
}

h1{
    width: 600px;
    font-size: 48px;
    color: #526a6e;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: 16px;
    letter-spacing: 1px;
} 
.container button{
    border-radius: 24px;
    box-sizing: border-box;
    border: 1px solid var(--ink);
    padding-right: 20px;
    font-size: 16px;
    font-weight: 550;
    color: var(--ink);
    height: 44px;
    width: 400px;
    margin-bottom: 16px;
    margin-left: -196px;
    display: block;
    text-align: center;
}
.container button:hover{
    background-color: var(--light-grey);
}
.container img{
    width: 16px;
    height: 16px;
}
.google span{
    padding-right: 10px;

}
.container p{
    margin-left: -118px;
    font-size: 14px;
    color: var(--greytext);
    font-weight: lighter;
    margin-top: 24px;
    margin-bottom: 48px;
}
.container span{
    color: var(--blue);
    font-weight: 550;
    cursor: pointer;
}
.container h4{
    margin-left: -172px;
    font-weight: 200;
}

.main-image img{
    min-width: 600px;
    height: 620px;
}

.section-2{
    width: 1128px;
    height: 180px;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.leftside{
    width: 429px;
    height: 142px;
    margin-right: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
   
}
.leftside h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
}
.leftside p{
    line-height: 22px;
    letter-spacing: 0.2px;
    font-weight: 250;
}
.article-list{
    width: 626px;
    height: 180px;
}
.article-list ul{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: auto;
    flex-wrap: wrap;
    list-style-type: none;
 
}

.article-list button{
    height:48px;
    margin-right: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 16px;
    border: 1px solid var(--ink)
  
}
#show-all-button{
    color: var(--blue);
    border-style: var(--blue);
    border: 1px solid var(--blue)
}
.section-3{
    width: 1128px;
    /* height: 307px; */
    padding-top: 128px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header{
    width: 429px;
    height: 142px;
    margin-right: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
   
}
.header h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
}
.job-list{
    width: 626px;
    height: 292px;
}
.job-list ul{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content:flex-start;
    margin: auto;
    flex-wrap: wrap;
    list-style-type: none;
}
.job-list button{
    height:48px;
    margin-right: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 16px 20px;
    border: 1px solid var(--ink)
}
#finance-button{
    /* padding: 0 30px; */
    margin-right: 50px;
}
#marketing-button{
    /* padding: 0 50px; */
    margin-right: 100px;
}
#show-more-button{
    margin-top: 60px;
    margin-left: -148px;
    padding-top: 6px;
    text-align: center;
}
.section-4{
    width: 100%;
    height: 260px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #d6c7be;


}
.section-4 p{
    display: block;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 32px;
    color: rgb(178, 64, 32);
    background-color: #d6c7be;
}
.section-4 button{
    box-shadow: rgb(10, 102, 194);
    box-sizing: border-box;
    color: rgb(10, 102, 194);
    border: 1px solid var(--blue);
    border-radius: 32px;
    background-color: #d6c7be;
    cursor: pointer;
    display: flex;
    flex-shrink: 1;
    float: left;
    font-size: 16px;
    font-weight: 600;
    height: 47.9953px;
    line-height: 24px;
    padding: 12px 24px;
    text-align: center;
}
.section-5{
    width: 1128px;
    /* height: 180px; */
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 64px;
}
.leftside2{
    width: 429px;
    height: 142px;
    margin-right: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
   
}
.leftside2 h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
}
.leftside2 p{
    line-height: 22px;
    letter-spacing: 0.2px;
    font-weight: 250;
}
.swtools-list{
    width: 626px;
    height: 180px;
}
.swtools-list ul{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: auto;
    flex-wrap: wrap;
    list-style-type: none;
 
}

.swtools-list button{
    height:48px;
    margin-right: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 16px;
    border: 1px solid var(--ink)
  
}
#show-all-button2{
    color: var(--blue);
    border-style: var(--blue);
    border: 1px solid var(--blue)
}
.section-6{
    width: 1128px;
    height: 230px;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 64px;
}
.leftside3{
    width: 429px;
    height: 142px;
    margin-right: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
   
}
.leftside3 h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
}
.leftside3 p{
    line-height: 22px;
    letter-spacing: 0.2px;
    font-weight: 250;
}
.game-list{
    width: 626px;
    height: 80px;
}
.game-list ul{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: auto;
    flex-wrap: wrap;
    list-style-type: none;
 
}

.game-list button{
    height:48px;
    margin-right: 8px;
    margin-bottom: 16px;
    margin-top: 32px;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 16px;
    border: 1px solid var(--ink)
}
.section-7{
    width: 1440px;
    height: 582px;
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* margin-right: 96px; */

    background-color: var(--light-grey);

}
.leftside4{
    width: 556px;
    height: 142px;
    /* margin-right: 64px; */
    margin-top: 128px;
    margin-left: 156px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--light-grey);
   
}
.leftside4 h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    color: rgb(178, 64, 32);
    background-color: var(--light-grey);
}
.leftside4 p{
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 250;
    font-size: 16px;
    background-color: var(--light-grey);
}
.section-7 img{
    background-color: var(--light-grey);
}
.section-7 span{
    margin-top: 200px;
    margin-right: 156px;
    height: 32px;
    height: 32px;
}








